@import "ui-variables";
@import "octicon-mixins";

@icon-size: 20px;
@counter-size: 16px;
@item-space: 1px;

.notification-counter {
  .icon {
    display: inline-block;
    width: @icon-size;
    height: @icon-size;
    font-size: @icon-size;
    line-height: @icon-size;
    vertical-align: middle;
    padding-top: 0px;
    margin-left: -10px;
    margin-right: 3px;
    text-align: center;
    border-radius: @component-border-radius;
    color: @base-background-color;
    background-color: @base-background-color;
    &.icon:before {
      width: @icon-size;
      height: @icon-size;
      line-height: @icon-size;
      top: -2px; // Sorry, a bit trial and error
    }
    &.is-info     { .icon(@background-color-info); }
    &.is-success  { .icon(@background-color-success); }
    &.is-warning  { .icon(@background-color-warning); }
    &.is-error    { .icon(@background-color-error); }
    &.is-fatal    { .icon(@background-color-error); }
    &.is-progress {
      border-radius: @icon-size;
      .icon( darken(@base-background-color, 25%) );
      &:before {
        -webkit-animation: notification-progress 1s linear infinite;
      }
    }
  }

  .item {
    display: inline-block;
    min-width: @counter-size;
    height: @counter-size;
    margin-left: @item-space;
    padding: 0 .25em;
    line-height: @counter-size;
    font-size: inherit;
    text-align: center;
    vertical-align: middle;
    &:first-of-type  { border-radius: @component-border-radius 0 0 @component-border-radius; }
    &:last-of-type  { border-radius: 0 @component-border-radius @component-border-radius 0; }
    &.is-warning { .item( @text-color-warning; @background-color-warning ); }
    &.is-error   { .item( @text-color-error;   @background-color-error   ); }
    &.is-hidden {
      display: none;
    }
  }
}


// Mixins -------------------------------

.icon(@bg) {
  color: lighten(@bg, 36%);
  background-color: @bg;
}

.item(@txt; @bg) {
  color: darken(@txt, 20%);
  background-color: lighten(@bg, 25%);
}


// Animations -------------------------------

@-webkit-keyframes notification-progress {
    0% { transform: rotate(  0deg); }
  100% { transform: rotate(360deg); }
}
